.grid-33
  .app--section
    ul.app--message--list
        each message in messages
            li
                h3
                    | Conversation with 
                    a #{message.sender.name}
                ul.app--message--conversation
                    li.app--message
                        .app--avatar(style='background-image: url(' + message.sender.profile_image_url + ')')
                        p.app--message--text #{message.text}
                        p.app--message--timestamp #{message.sender.created_at}